interactions:
- request:
    body: path=%2Fhome%2FSIU-Wichi%2FPortal+Transparencia%2Fcda%2F5_academica.cda&dataAccessId=param_ua_academ&outputIndexId=1&pageSize=0&pageStart=0&sortBy=&paramprm_tablero_visible=25
    headers:
      Authorization:
      - Basic dXN1YXJpb190cmFuc3BhcmVuY2lhOmNsYXZlX3RyYW5zcGFyZW5jaWE=
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: http://wichi.siu.edu.ar/pentaho/plugin/cda/api/doQuery
  response:
    body:
      string: '{"queryInfo":{"totalRows":"12"},"resultset":[["1-TODAS"],["ADMINISTRACION
        Y ECONOMIA"],["AGRARIAS Y FORESTALES"],["CINE Y TV"],["DERECHO Y SOCIALES"],["EXACTAS
        Y NATURALES"],["HUMANISTICAS"],["INGENIERIA"],["INSTITUTO DE INVESTIGACION"],["MEDICINA"],["PERIODISMO"],["VETERINARIAS
        Y SALUD ANIMAL"]],"metadata":[{"colIndex":0,"colType":"String","colName":"dependencia"}]}'
    headers:
      Content-Type:
      - application/json
      content-disposition:
      - inline; filename=doQuery.json
    status:
      code: 200
      message: OK
- request:
    body: paramprm_ua_academ=1-TODAS&path=%2Fhome%2FSIU-Wichi%2FPortal+Transparencia%2Fcda%2F5_academica.cda&dataAccessId=tablero_23&outputIndexId=1&pageSize=0&pageStart=0&sortBy=2D
    headers:
      Authorization:
      - Basic dXN1YXJpb190cmFuc3BhcmVuY2lhOmNsYXZlX3RyYW5zcGFyZW5jaWE=
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: http://wichi.siu.edu.ar/pentaho/plugin/cda/api/doQuery
  response:
    body:
      string: '<!DOCTYPE html><html><head><title>Apache Tomcat/8.0.33 - Error report</title><style
        type="text/css">H1 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:22px;}
        H2 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:16px;}
        H3 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:14px;}
        BODY {font-family:Tahoma,Arial,sans-serif;color:black;background-color:white;}
        B {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;}
        P {font-family:Tahoma,Arial,sans-serif;background:white;color:black;font-size:12px;}A
        {color : black;}A.name {color : black;}.line {height: 1px; background-color:
        #525D76; border: none;}</style> </head><body><h1>HTTP Status 501 - </h1><div
        class="line"></div><p><b>type</b> Status report</p><p><b>message</b> <u></u></p><p><b>description</b>
        <u>The server does not support the functionality needed to fulfill this request.</u></p><hr
        class="line"><h3>Apache Tomcat/8.0.33</h3></body></html>'
    headers:
      Content-Language:
      - en
      Content-Type:
      - text/html;charset=utf-8
    status:
      code: 501
      message: Not Implemented
[...]
- request:
    body: paramprm_ua_academ=VETERINARIAS+Y+SALUD+ANIMAL&path=%2Fhome%2FSIU-Wichi%2FPortal+Transparencia%2Fcda%2F5_academica.cda&dataAccessId=tablero_22&outputIndexId=1&pageSize=0&pageStart=0&sortBy=2D
    headers:
      Authorization:
      - Basic dXN1YXJpb190cmFuc3BhcmVuY2lhOmNsYXZlX3RyYW5zcGFyZW5jaWE=
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: http://wichi.siu.edu.ar/pentaho/plugin/cda/api/doQuery
  response:
    body:
      string: '{"queryInfo":{"totalRows":"0"},"resultset":[],"metadata":[{"colIndex":0,"colType":"String","colName":"carrera"},{"colIndex":1,"colType":"Numeric","colName":"total_alumnos"},{"colIndex":2,"colType":"Numeric","colName":"porcentaje"}]}'
    headers:
      Content-Type:
      - application/json
      content-disposition:
      - inline; filename=doQuery.json
    status:
      code: 200
      message: OK
version: 1
