interactions:
- request:
    body: !!python/unicode 'dataAccessId=tablero_19&pageSize=0&sortBy=2D&outputIndexId=1&path=%2Fhome%2FSIU-Wichi%2FPortal+Transparencia%2Fcda%2F4_rrhh.cda&pageStart=0'
    headers:
      Authorization:
      - Basic dXN1YXJpb190cmFuc3BhcmVuY2lhOmNsYXZlX3RyYW5zcGFyZW5jaWE=
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: http://wichi.siu.edu.ar/pentaho/plugin/cda/api/doQuery
  response:
    body:
      string: !!python/unicode '{"queryInfo":{"totalRows":"111"},"resultset":[["Rectorado",2015,1069],["Rectorado",2016,1066],["Rectorado",2014,977],["Rectorado",2013,952],["Rectorado",2011,903],["Rectorado",2012,901],["Rectorado",2010,797],["Rectorado",2007,653],["Rectorado",2008,632],["Rectorado",2009,547],["Humanisticas",2016,430],["Humanisticas",2014,421],["Humanisticas",2015,421],["Exactas
        y Naturales",2015,417],["Humanisticas",2013,414],["Humanisticas",2012,400],["Exactas
        y Naturales",2014,394],["Exactas y Naturales",2016,394],["Ingenieria",2015,387[...]
- request:
    body: !!python/unicode 'dataAccessId=param_anios_presup&sortBy=&pageSize=0&outputIndexId=1&path=%2Fhome%2FSIU-Wichi%2FPortal+Transparencia%2Fcda%2F1_presupuesto.cda&pageStart=0&paramprm_tablero_visible=5'
    headers:
      Authorization:
      - Basic dXN1YXJpb190cmFuc3BhcmVuY2lhOmNsYXZlX3RyYW5zcGFyZW5jaWE=
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: http://wichi.siu.edu.ar/pentaho/plugin/cda/api/doQuery
  response:
    body:
      string: !!python/unicode '{"queryInfo":{"totalRows":"15"},"resultset":[[2016],[2015],[2014],[2013],[2012],[2011],[2010],[2009],[2008],[2007],[2006],[2005],[2004],[2003],[2002]],"metadata":[{"colIndex":0,"colType":"Integer","colName":"anio"}]}'
    headers:
      content-disposition:
      - inline; filename=doQuery.json
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: !!python/unicode 'dataAccessId=tablero_10&pageSize=0&outputIndexId=1&path=%2Fhome%2FSIU-Wichi%2FPortal+Transparencia%2Fcda%2F2_compras.cda&pageStart=0'
    headers:
      Authorization:
      - Basic dXN1YXJpb190cmFuc3BhcmVuY2lhOmNsYXZlX3RyYW5zcGFyZW5jaWE=
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: http://wichi.siu.edu.ar/pentaho/plugin/cda/api/doQuery
  response:
    body:
      string: !!python/unicode '<!DOCTYPE html><html><head><title>Apache Tomcat/8.0.33
        - Error report</title><style type="text/css">H1 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:22px;}
        H2 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:16px;}
        H3 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:14px;}
        BODY {font-family:Tahoma,Arial,sans-serif;color:black;background-color:white;}
        B {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;}
        P {font-family:Tahoma,Arial,sans-serif;background:white;color:black;font-size:12px;}A
        {color : black;}A.name {color : black;}.line {height: 1px; background-color:
        #525D76; border: none;}</style> </head><body><h1>HTTP Status 501 - </h1><div
        class="line"></div><p><b>type</b> Status report</p><p><b>message</b> <u></u></p><p><b>description</b>
        <u>The server does not support the functionality needed to fulfill this request.</u></p><hr
        class="line"><h3>Apache Tomcat/8.0.33</h3></body></html>'
    headers:
      content-language:
      - en
      content-type:
      - text/html;charset=utf-8
    status:
      code: 501
      message: Not Implemented
[...]
